# Files to ignore when adding and committing files to a repository
.DS_Store
Thumbs.db

*.py[cod]
*$py.class

# virtualenv
.venv/
venv/

#generated data
.csv
users.csv
userlogin.csv
profiles.csv
posts.csv
# PyCharm
.idea