#cocl
{
    background-color: #0072ff;

}

#ud
{
    padding:20px;
    background-color: white;
    border-radius: 10px;
}
.but{
    padding: 10px;
    color: white;
    border-radius:2px;
    background-color: #0072ff;
}

