{% extends "base.html"%}
{% block main %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">DASHBOARD</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Users</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash"><canvas style="display: inline-block; width: 67px; height: 30px; vertical-align: top;" width="67" height="30"></canvas></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">{{total_users}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Posts</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash2"><canvas style="display: inline-block; width: 67px; height: 30px; vertical-align: top;" width="67" height="30"></canvas></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">{{total_posts}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Total Groups</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash3"><canvas style="display: inline-block; width: 67px; height: 30px; vertical-align: top;" width="67" height="30"></canvas></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">{{total_groups}}</span></li>
            </ul>
        </div>
    </div>
</div>

</div>
<!--Comments-->
<div class="col-md-6 col-lg-6 col-sm-6">
    <div class="white-box">
        <h3 class="box-title">Recent Comments</h3>
        <div class="comment-center p-t-10">
            <div class="comment-body">
                <div class="user-img"> <img src="../plugins/images/users/pawandeep.jpg" alt="user" class="img-circle">
                </div>
                <div class="mail-contnet">
                    <h5>Pavan kumar</h5><span class="time">10:20 AM   20  may 2016</span>
                    <br><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie feugiat</span>
                </div>
            </div>
            <div class="comment-body">
                <div class="user-img"> <img src="../plugins/images/users/sonu.jpg" alt="user" class="img-circle">
                </div>
                <div class="mail-contnet">
                    <h5>Sonu Nigam</h5><span class="time">10:20 AM   20  may 2016</span>
                    <br><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie feugiat</span>
                </div>
            </div>
            <div class="comment-body b-none">
                <div class="user-img"> <img src="../plugins/images/users/arijit.jpg" alt="user" class="img-circle">
                </div>
                <div class="mail-contnet">
                    <h5>Arijit singh</h5><span class="time">10:20 AM   20  may 2016</span>
                    <br><span class="mail-desc">Donec ac condimentum massa. Etiam pellentesque pretium lacus. Phasellus ultricies dictum suscipit. Aenean commodo dui pellentesque molestie feugiat. Aenean commodo dui pellentesque molestie feugiat</span>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
