{% extends "base.html"%}
{% block main %}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title"> posts</h4>
    </div>
</div>

<div class="row" style ="height:1000px; overflow:scroll;">
    {% for post in post_list%}
    <div class="col-md-3" style="margin: 1em auto">
        <div id="ud">      
            <div class="card-body">
              <h5 class="card-title"> Post ID: {{post[0]}} </h5>
              <p class="card-text">OWNER {{post[2]}} {{post[3]}}</p>
              <p class="card-text">POST Date {{post[1]}} </p>
            </div>

            <form action="{{ url_for('postdetails',postid = post[0]) }}" method="post">
                <button class="button" type="submit">VIEW POST</button>
            </form>
        </div>
        
      </div>
      {% endfor %}

</div>
{%endblock%}
